body{
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.o-page__sidebar {
  width: 200px;
}

.o-page__content {
  margin-left: 200px;
}

.o-page__sidebar.is-minimized:hover {
  width: 200px;
}

.c-sidebar {
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 0 1px -1px #425563;
  box-shadow: 1px 0 1px -1px #425563;

}

.c-sidebar__link {
  color: #005EB8;
}

.c-sidebar.is-minimized .c-sidebar__item {
  border-bottom: 1px solid #E8EDEE;
}

.c-sidebar__link.is-active {
  background-color: #005EB8;
  box-shadow: inset 3px 0 0 0 #78BE20;
  color: #FFFFFF;
}

.c-sidebar__link:hover {
  color: #78BE20;
  text-decoration: none;
}

.c-sidebar__brand {
  border-bottom: 1px solid #E8EDEE;
  color: #005EB8;
}

.c-btn--success {
  background: #78BE20;
  border-color: #78BE20;
}

.c-btn {
  border-radius: 0px;
}

.c-navbar {
  background-color: #005EB8;
}

.c-navbar__title{
  text-transform: uppercase;
}
